{% extends 'css_base.html' %}
{% load staticfiles %}

{% block title %}
  IITG_Clubs
{% endblock %}

{% block content %}
  <div class="container">

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <a href={% url 'club' "codingclubiitg" %}>
          <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Coding Club</h2>
          <p class="lead">Coding Club IITG</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      </a>
      <a href={% url 'club' "electronics.iitg" %}>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Electronics Club</h2>
          <p class="lead">Electronics Club IITG</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      </a>
    </div>
    </div>
    </div>

  <br>
  <br>

  <div class="container">

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <a href={% url 'club' "robotics.iitg" %}>
          <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Robotics Club</h2>
          <p class="lead">Robotics Club IITG</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      </a>
      <a href={% url 'club' "litsociitg" %}>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Literary Society</h2>
          <p class="lead">Literary Society IITG</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      </a>
    </div>
    </div>
  </div> 
{% endblock %}